<header id="header">
  <div class="container">
      <div class="row">
          <div class="head-left">
              <div class="logo logobox">
                  <a href="#">
                      <img src="assets/flipkartlogo.png" alt="logo" class="loimg">
                  </a>
                  <a href="#" class="sublogo">
                      Explore
                      <span>Plus</span>
                      <img src="assets/plus_b13a8b.png" alt="logo">
                  </a>
              </div>
              <div class="logo logobox1">
                  <a href="#">
                      <img src="assets/flipkartlogo.png" alt="logo" class="loimg">
                  </a>
              </div>
              <div class="search searchbox">
                  <input type="text" placeholder="Search for products, brands and more" id="search12">
                  <button class="btn" id="searchbtn"><i class="fas fa-search"></i></button>
              </div>

          </div>
          <div class="head-right">
              <div class="tex-rig">
                  <div class="text-rig1">
                      <a href="#">Login & Signup</a>
                  </div>
                  <div class="text-rig1 text-rig2">
                      <a href="cart.html" class="cartbtn"><i class="fas fa-shopping-cart"></i> cart</a>
                      <span id="counter" class="count">0</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="search searchbox1">
          <input type="text" placeholder="Search for products, brands and more" id="search13">
          <button class="btn" id="searchbtn1"><i class="fas fa-search"></i></button>
      </div>
  </div>
</header>